<header class="info-header">
    <h1 class="my-name">Natalie Tbilieli</h1>
    <img src="https://scontent.fhrk1-1.fna.fbcdn.net/v/t1.0-9/19225825_471388163200470_5678942182615221960_n.jpg?oh=bae019c4de861d719f5f1650a1d9700c&oe=59ED9923" alt="photo">

    <figure class="info-anchors">
        <ul>
            <li>
                <a href="https://www.instagram.com/natalinateli/" target="_blank">Instagram</a>
            </li>
            <li>
                <a href="https://www.facebook.com/natalie.tbilieli" target="_blank">Facebook</a>
            </li>
            <li>
                <a href=" https://github.com/natalinateli " target="_blank">Github</a>
            </li>
        </ul>
    </figure>
    <figure class="mail-to">
        <a href="mailto:ntbilieli@gmail.com">Send an Email</a>
    </figure>
</header>