<main class="main-part">


    <section class="me-obj">
        <h2>Objective </h2>
        <p>My main aim is to work in IT sphere as a Front-End Developer. I want to make myself better in this area, improving my skills and making progress.
        </p>
    </section>

    <section class="me-education">
        <h2>Education</h2>
        <ul>
            <li>2016 – 2017 - Odessa I.I. Mechnikov National University. Specialist degree in International Relations.</li>
            <li>2012 – 2016 - Odessa I.I. Mechnikov National University. Bachelor degree in International Relations.</li>
            <li>2016 – 2017 – Front-End Basic courses in IT School Hillel.
            </li>
            <li>2017 - Front-End Pro courses in IT School Hillel.</li>
            <li>2017 - Angular 2 courses in IT School Hillel.</li>
            <li>2016 – Online-courses in Microsoft IT School.</li>
            <li>2016 – English language online-courses in British Council (B1, B2).</li>
            <li>2015 – German language courses in Bayern Haus (A2).</li>
        </ul>
    </section>


    <section class="my-skills">
        <h2>Skills</h2>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>CSS preprocessor (Sass)</li>
            <li>JavaScript (ES5, ES6)</li>
            <li>TypeScript (basic knowledge)</li>
            <li>Angular 2 (basic knowledge)</li>
            <li>Avocode/Zeplin</li>
            <li>Git</li>
            <li>Have an experience of working on the basis of different Operating System </li>
        </ul>
    </section>

    <section class="my-exp">
        <h2>Experience</h2>
        <p>Hillel Evo Project (Front-end part. We used React for realizing it)</p>
    </section>

    <section class="my-lang">
        <h2>Languages</h2>
        <ul>
            <li>Russian (native)</li>
            <li>Ukrainian (native)</li>
            <li>English (Upper-Intermediate – B2)</li>
            <li>Chinese (Intermediate - HSK3)</li>
            <li>German (Elementary– A2)</li>
        </ul>
    </section>

    <section class="my-others">
        <h2>Hobbies and Interesting Facts</h2>
        <ul>
            <li>Big fan of classic music and good literature</li>
            <li>Sports: thaekwondo warrior, climbing, bicycling</li>
            <li>Was singing opera music professionally </li>
            <li>Inspired traveler</li>
        </ul>
    </section>


</main>